/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: acumin-pro, sans-serif;
    font-size: 16px;
}
body {
    margin: 2em;
}

header h1 {
    font-size: 2em;
    font-weight: 500;
}

main {
    margin-top: 3em;
}
main p {
    font-size: 3em;
    line-height: 1.2em;
    max-width: 900px;
    margin-bottom: 0.3em;
}
main img {
    margin-top: 2em;
    width: calc(100% + 4em);
    margin-left: -2em;
}

@media (max-width: 600px) {
    main {
        margin-top: 1em;
    }
    main p {
        font-size: 1em;
    }
}

footer {
    margin-top: 2em;
}
footer h3 {
    font-size: 1.5em;
    margin-top: 0.3em;
}
footer h4 {
    font-weight: 500;
    margin: 0.8em 0 0.5em 0;
}
footer p {
    margin-bottom: 0.3em;
}